
source_code/.vs/DeliveryBox_BE/DesignTimeBuild/.dtbcache.v2
source_code/.vs/DeliveryBox_BE/FileContentIndex/0e243c97-066a-4a82-8260-85456f87f705.vsidx
source_code/.vs/DeliveryBox_BE/FileContentIndex/2316a73b-1aad-4eca-a849-a7b6d8e57881.vsidx
source_code/.vs/DeliveryBox_BE/FileContentIndex/29ed7fc5-703a-47b9-9989-44ed726a5e5f.vsidx
source_code/.vs/DeliveryBox_BE/FileContentIndex/44421322-c310-45d0-a34b-55bab4b71ff2.vsidx
source_code/.vs/DeliveryBox_BE/FileContentIndex/83183704-ae15-469a-8b50-891c943315ea.vsidx
source_code/.vs/DeliveryBox_BE/FileContentIndex/a56f0026-1045-4371-8132-ace933481721.vsidx
source_code/.vs/DeliveryBox_BE/v17/.futdcache.v2
source_code/.vs/DeliveryBox_BE/v17/.suo
source_code/.vs/ProjectEvaluation/deliverybox_be.metadata.v7.bin
source_code/.vs/ProjectEvaluation/deliverybox_be.projects.v7.bin
source_code/bin/Release/net6.0/DeliverBox_BE.dll
source_code/bin/Release/net6.0/DeliverBox_BE.pdb
source_code/DeliverBox_BE.csproj.user
source_code/obj/Release/net6.0/DeliverBox_BE.csproj.CoreCompileInputs.cache
source_code/obj/Release/net6.0/DeliverBox_BE.dll
source_code/obj/Release/net6.0/DeliverBox_BE.pdb
source_code/obj/Release/net6.0/PubTmp/Out/DeliverBox_BE.dll
source_code/obj/Release/net6.0/PubTmp/Out/DeliverBox_BE.pdb
source_code/obj/Release/net6.0/ref/DeliverBox_BE.dll
source_code/obj/Release/net6.0/refint/DeliverBox_BE.dll
source_code/Properties/PublishProfiles/wingfam-001-site1 - Web Deploy.pubxml.user
source_code/.vs/DeliveryBox_BE/DesignTimeBuild/.dtbcache.v2
source_code/.vs/DeliveryBox_BE/v17/.futdcache.v2
source_code/.vs/DeliveryBox_BE/v17/.suo
source_code/.vs/ProjectEvaluation/deliverybox_be.metadata.v7.bin
source_code/.vs/ProjectEvaluation/deliverybox_be.projects.v7.bin
